.map-container {
    position: relative;
    height: 100%;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
  }
  #analyse{
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }

  .col {
    flex: 1 0 0%;
    position: absolute;
    z-index: 1000;
    text-align: center;
  }
  .btn{
    border-radius: 0%;
  }
  .btn:hover, .btn:active, .btn:focus {
    color: #ffffff !important;
    background-color:#4e8e33 !important;
    border-color: #494F57 !important;
  }
  .selected{
    color :rgb(255, 255, 255);
    background-color:#4e8e33;
  }


i{
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.leaflet-control-zoom{
  display: none;
}