<div class="card" style="width: 18rem;">
	<div class="card-body">
	  <h5 class="card-title">Légende</h5>
	  <h6 class="card-subtitle mb-2 text-muted">sous titre</h6>
	  <p class="card-text">
		Affichez les légendes ici.
	  </p>
	</div>
  </div>

<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
				Echelles
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button [ngClass] = "{selected : activeLayer == 'departement'}" type = "button" ngbDropdownItem (click) ="setActiveLayer('departement')" class = "btn" >Département</button>
				<button [ngClass] = "{selected : activeLayer == 'intercommune'}"type = "button" ngbDropdownItem (click) ="setActiveLayer('intercommune')" class = "btn">Intercommune</button>
				<button [ngClass] = "{selected : activeLayer == 'commune'}"type = "button" ngbDropdownItem (click) ="setActiveLayer('commune')" class = "btn" >Commune</button>
                <button [ngClass] = "{selected : activeLayer == 'iris'}"type = "button" ngbDropdownItem (click) ="setActiveLayer('iris')"class = "btn" >IRIS</button>
			</div>
		</div>
        <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
				Données
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem disabled >Transactions immobilières</button>
				<button ngbDropdownItem disabled >Lieux touristiques</button>
			</div>
		</div>
        <div ngbDropdown class="d-inline-block">
			<button type="button" class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
				Cloropeth
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class = "btn" [ngClass] = "{selected : choroplethView == 'nbVenteMaison'}" ngbDropdownItem (click) ="setChloroplethView('nbVenteMaison')">Nombre maison</button>
				<button class = "btn" ngbDropdownItem (click) ="setChloroplethView('nbVenteAppartement')">Nombre appartement</button>
				<button class = "btn" ngbDropdownItem (click) ="setChloroplethView('prixMaison')">Prix maison</button>
				<button class = "btn" ngbDropdownItem (click) ="setChloroplethView('prixAppartement')">Prix Appartement</button>
			</div>
		</div>
	</div>
</div>
<div id='map' [ngClass]="{'reduit': analyses.length != 0}" class="map-container" leaflet 
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
></div>
