@import "leaflet-sidebar-v2/css/leaflet-sidebar.min.css";
/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
}

.bg-custom {
    --bs-bg-opacity: 1;
    background-color: rgba(50,50,50,var(--bs-bg-opacity))!important;
}

.legend i{
    width: 30px;
    height: 18px;
    float: left;
    margin-right: 10px;
    opacity: 0.7;
    border: 1px solid rgb(255, 255, 255);
}

.card{
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    right: 0px;
    
  }

  .leafletpopup{
    pointer-events: none;
  }